body {
  font-family: sans-serif;
  text-align: center;
}

img {
  text-align: center;
width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  width: 50%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.btn {
  margin: 15px;
}
